.inner-head {
    color: white;
    background-image: linear-gradient(90deg, var(--orange), var(--red));
    border-radius: 15px 15px 0px 0px;
    text-align: center;
    padding: 20px;
    font-weight: bold;
}

.collapse-title {
    background-color: aquamarine;
    text-align: center;
    font-size: 40px;
}


.inner-body {
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 0px 0px 10px 10px;
}

.section-two .card-header {
    background-color: white;
    padding: 0px;
    border: 0px;
}

.section-two .card {
    border: 0px;
    margin-bottom: 5px;
}

.section-two .btn {
    color: orange;
    font-size: 500;
    border: 1px solid transparent ;
    text-decoration: none;
}

.section-two .btn:focus {
    box-shadow: none;
}

.section-two .collapsed {
    border: 1px solid #ddd;
    margin-bottom: 5px;
    color: black;
    font-weight: 500;
}

.section-two .btn:hover {
    text-decoration: none;
}

.section-one button {
    background-image: linear-gradient(90deg, var(--orange), var(--red));
    border-radius: 27px;
    padding: 10px 20px;
    border: 0px;
    font-size: 18px;
    font-weight: 500;
}

.section-one select {
    width: 100%;
    padding: 7px;
    border: 1px solid #CED4DA;
    border-radius: 4px;
}

.section-one {
    background-color: #FFB446;
    padding: 50px;
}

.section-one .container {
    background-color: white;
    padding: 0px;
    border: 0px;
    border-radius: 15px 15px 10px 10px;
}

.modal-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 0px;
}

.modal-header .title {
    padding: 10px;
    font-weight: bold;
    font-size: 25px;
}

.modal-body {
    padding: 0px;
    padding-bottom: 30px;
}

.modal-body .col-12 input {
    padding: 25px;
}

.modal-body .col-12:nth-child(1) {
    padding-top: 15px;
}

.modal-body button {
    background-image: linear-gradient(90deg, var(--orange), var(--red));
    border-radius: 27px;
    padding: 10px 20px;
    border: 0px;
    font-size: 18px;
    font-weight: 500;
    width: 100%;
}

.modal-content {
    border-radius: 15px;
    position: relative;
    top: 500px;
}

.modal-content .close {
    position: absolute;
    background: black;
    opacity: 1;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;

    top: 0px;
    right: 0px;
    font-size: 20px;
    
}